<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936184212502-k22cb34ag6l33dns4mvee3pmgkeujdpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936184212502-k22cb34ag6l33dns4mvee3pmgkeujdpp</string>
	<key>API_KEY</key>
	<string>AIzaSyAp6dUM8O6-_yHBU04sj8tWNVndMHRP5NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>936184212502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cleopatra.Murmur</string>
	<key>PROJECT_ID</key>
	<string>murmur-e5e16</string>
	<key>STORAGE_BUCKET</key>
	<string>murmur-e5e16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936184212502:ios:039306db8d587636981937</string>
</dict>
</plist>