<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location lets us show the Murmur posts and users nearby.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location lets us show the Murmur posts and users nearby.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo access to choose photos for Murmur posts or custom settings</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow photo access to choose photos for Murmur posts or custom settings</string>
	<key>NSCameraUsageDescription</key>
	<string>Access to the camera allows you to take photos for Murmur posts or profile.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>cleopatra.Murmur</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cleopatra.Murmur</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appleid.cleopatra.Murmur</string>
				<string>cleopatra13141919</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
